@model IEnumerable<TotalProcessModel>

@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">  
    <table class="table table-hover">
        <thead>
            <tr>             
                <th scope="col">Tarih</th>
                <th scope="col">Toplam İşlem Miktarı(MWh)</th>
                <th scope="col">Toplam İşlem Tutarı(TL)</th>
                <th scope="col">Ağırlık Ortalama Fiyat(TL/MWh)</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var trade in Model)
            {
                if (trade.Conract.StartsWith("PH") == true)
                {                  
                    <tr>
                    <td>@trade.Tarih</td>
                    <td>@trade.ToplamIslemMiktari</td>
                    <td>₺ @trade.ToplamIslemTutari</td>
                    <td>@trade.AgirlikOrtalamaFiyat</td>               
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
